# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\DUT\cours\WEB\projet\Site_web_projet\Site web projet\Web_Ecommerce_Maria_TABET_G4S1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/modules.xml
/vcs.xml
/Web_Ecommerce_Maria_TABET_G4S1.iml
